# Ignore all files by default

/*
/.config/micro/*


# General files

!/README.md
!/repos/README.md
!/.gitignore


# Configuration files

!/.gitconfig
!/.bashrc
!/.config/
!/.config/micro/settings.json
!/.config/micro/bindings.json
